#navbar {
  .main-container {
    .nav-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 0;

      .nav-menu {
        ul {
          font-family: "Poppins", sans-serif;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 30px;
          li {
            font-size: 14px;
            color: #424242;
            &:active {
              color: #7db9e8;
            }
            &.nav-signIn {
              color: #7db9e8;
            }
          }
        }
      }
      .hamburger-menu {
        display: none;
        i {
          font-size: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #navbar {
    .main-container {
      .nav-container {
        .nav-menu {
          display: none;
          ul {
            font-family: "Poppins", sans-serif;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            li {
              font-size: 14px;
              color: #424242;
              &:active {
                color: #7db9e8;
              }
              &.nav-signIn {
                color: #7db9e8;
              }
            }
          }
        }
        .hamburger-menu {
          display: block;
        }
      }
    }
  }
}
