* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#navbar .main-container .nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
#navbar .main-container .nav-container .nav-menu ul {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
#navbar .main-container .nav-container .nav-menu ul li {
  font-size: 14px;
  color: #424242;
}
#navbar .main-container .nav-container .nav-menu ul li:active {
  color: #7db9e8;
}
#navbar .main-container .nav-container .nav-menu ul li.nav-signIn {
  color: #7db9e8;
}
#navbar .main-container .nav-container .hamburger-menu {
  display: none;
}
#navbar .main-container .nav-container .hamburger-menu i {
  font-size: 25px;
}

@media screen and (max-width: 992px) {
  #navbar .main-container .nav-container .nav-menu {
    display: none;
  }
  #navbar .main-container .nav-container .nav-menu ul {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  #navbar .main-container .nav-container .nav-menu ul li {
    font-size: 14px;
    color: #424242;
  }
  #navbar .main-container .nav-container .nav-menu ul li:active {
    color: #7db9e8;
  }
  #navbar .main-container .nav-container .nav-menu ul li.nav-signIn {
    color: #7db9e8;
  }
  #navbar .main-container .nav-container .hamburger-menu {
    display: block;
  }
}
#hosting-server {
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/headerBack-img.webp");
}
#hosting-server .main-container .header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
#hosting-server .main-container .header-container .header-special {
  margin-bottom: 20px;
}
#hosting-server .main-container .header-container .header-special .header-special-content {
  background-color: #fc6428;
  color: #fff;
  font-size: 36px;
  padding: 18px 50px;
  font-family: "Montserrat", sans-serif;
}
#hosting-server .main-container .header-container .header-special .header-special-shape {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #fc6428;
  margin: 0 auto;
}
#hosting-server .main-container .header-container .header-contentBox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#hosting-server .main-container .header-container .header-contentBox .header-content {
  max-width: 742px;
  color: #fff;
}
#hosting-server .main-container .header-container .header-contentBox .header-content .header-content-title {
  margin-bottom: 20px;
}
#hosting-server .main-container .header-container .header-contentBox .header-content .header-content-title h4 {
  font-size: 50px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
#hosting-server .main-container .header-container .header-contentBox .header-content .header-content-smallTitle {
  margin-bottom: 20px;
}
#hosting-server .main-container .header-container .header-contentBox .header-content .header-content-smallTitle h5 {
  font-size: 36px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
#hosting-server .main-container .header-container .header-contentBox .header-content .header-contentText {
  margin-bottom: 30px;
}
#hosting-server .main-container .header-container .header-contentBox .header-content .header-contentText p {
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
#hosting-server .main-container .header-container .header-contentBox .header-content .header-content-list {
  max-width: 500px;
  width: 100%;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
}
#hosting-server .main-container .header-container .header-contentBox .header-content .header-content-list ul {
  display: grid;
  grid-template-areas: "auto auto";
}
#hosting-server .main-container .header-container .header-contentBox .header-content .header-content-list ul li {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.32px;
}
#hosting-server .main-container .header-container .header-contentBox .header-content .header-content-list ul li i {
  margin-right: 10px;
}
#hosting-server .main-container .header-container .header-contentBox .header-content .header-content-btnBox button {
  padding: 12px 30px;
  font-size: 18px;
  background-color: #fc5a1a;
  color: #fff;
  border: none;
}
#hosting-server .main-container .header-container .header-contentBox .header-img img {
  max-width: 400px;
}

#ourServise .main-container .ourService-container {
  padding: 100px 0;
}
#ourServise .main-container .ourService-container .ourService-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#ourServise .main-container .ourService-container .ourService-content .ourService-header {
  margin-bottom: 15px;
}
#ourServise .main-container .ourService-container .ourService-content .ourService-header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  color: #424242;
  font-weight: 300;
}
#ourServise .main-container .ourService-container .ourService-content .ourService-line {
  width: 70px;
  height: 1.5px;
  background-color: #424242;
  margin-bottom: 35px;
}
#ourServise .main-container .ourService-container .ourService-content .ourService-text {
  text-align: center;
  max-width: 450px;
  width: 100%;
}
#ourServise .main-container .ourService-container .ourService-content .ourService-text p {
  font-size: 14px;
  color: #6b6d6f;
  font-family: "Poppins", sans-serif;
  line-height: 25px;
}
#ourServise .main-container .ourService-container .ourService-cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
#ourServise .main-container .ourService-container .ourService-cards .ourService-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}